include head 
    h1 contact  
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet saepe molestias dicta suscipit nisi quam temporibus! Optio, similique, ipsum officiis corporis nisi adipisci perspiciatis consequatur maxime maiores ut quam ducimus, ipsa ad. Ipsam et, earum officiis eum at unde ipsum voluptatum exercitationem odit dicta ab architecto repellendus praesentium nisi corrupti?
    a(href="/") index 
    a(href="/main") main  
    a(href="/footer") footer 