include head 
    form(action="" class="form")
        input(type="text" placeholder="Ismingizni kiriting" required)
        p 
        input(type="text" placeholder="Familiyangiz yozing" required)
        p  
        input(type="email" placeholder="Email yozing" required)
        p 
        button submit 
    a(href="/") index 
    a(href="/contact") contact 
    a(href="/main") main 