include head 
    h1 Hello world
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto distinctio, fuga vitae delectus, dolorem beatae rerum facere vero expedita eius, illum velit error nostrum autem. Suscipit numquam nobis autem quisquam veritatis quaerat optio delectus vitae? Nihil, amet cupiditate perspiciatis voluptate quia nemo magnam vero unde, magni, aliquam aliquid inventore minus.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis placeat sint tempora quisquam accusamus consequuntur nesciunt, illum quam asperiores blanditiis iste ab vitae cumque. Libero neque consequatur dolor rerum assumenda odit, sapiente voluptate, quod vel officia ipsam quibusdam? A architecto odio sint atque impedit nesciunt recusandae doloremque nihil, porro commodi!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maiores delectus aut sit eum! Provident minima quas necessitatibus, similique quidem, illo aliquam hic cupiditate eos neque quod, odit eius nesciunt fugiat voluptates id illum? Natus, ut quas? Esse tempore accusantium cumque porro voluptatibus, nostrum, error maxime, distinctio ipsam hic voluptates!
    a(href="/contact") contact  
    a(href="/main") main   
    a(href="/footer") footer  