include head
    h2 main 
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo veniam ullam quis ipsa corrupti, aperiam ab commodi consequuntur amet eos aspernatur similique repellat harum expedita ex porro nesciunt ducimus neque impedit, tempore asperiores! Similique reiciendis vero sit ad doloribus libero veritatis inventore assumenda obcaecati ipsam. Ducimus eaque itaque ex accusantium!
    a(href="/") index 
    a(href="/contact") contact  
    a(href="/footer") footer 